<footer>
	<hr />
	<div class="container text-center">
		<code>vinyl record</code> icon from icons8.de
	</div>
</footer>
<!-- JQUERY.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<!-- POPPER .JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- BOOTSTRAP.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- D3.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
<!-- TREEMAP JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/treemap.js') }}"></script>
<!-- Custom JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
