<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Sognity</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400&display=swap" rel="stylesheet">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		{% include "includes/nav.html" %}
		{% block header %}
		<header class="container">
		</header>
		{% endblock %}
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>

		<!-- {% include "includes/footer.html" %} -->
	</body>
</html>
